<p>
  <label for="team_short_name"> Short name:</label>
  <%= f.text_field :short_name %>
</p>  
<p>
  <label for="team_acronym_name"> Acronym:</label>
  <%= f.text_field :acronym_name %>
</p>  
<p>
  <label for="team_complete_name"> Complete name:</label>
  <%= f.text_field :complete_name %>
</p>  
<p>
  <label for="team_nickname_name"> Nickname:</label>
  <%= f.text_field :nickname_name %>
</p>    
<%= submit_tag "Just Do It", :class => 'submit' %><br />
  
