<h2>teams <%= link_to "(add new)", new_team_path %></h2>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= error_messages_for :team %>

<br />
<br />
<div>
  <div class="table_column300 left">
    <h3>team name</h3>
  </div>
</div>
<%= splitter %>
<hr />
<br />


<% for team in @teams do %>
  <div>
    <div class="table_column300 left">
      <h4><%= link_to(team.short_name, team_path(team)) %></h4>
    </div>
    <div class="table_column100 left">
      <%= link_to "edit", edit_team_path(team) %> | <%= link_to "delete", team_path(team), :confirm => "ohrly?", :method => :delete %>
    </div>
  </div>
  <%= splitter %>
  <% unless team.id == @teams.last.id -%>
    <hr />
  <% end %>
<% end %>
