<h3>showing team</h3>

<p>
  <b>Full Name:</b>
  <%=h @team.full_name %>
</p>

<p>
  <b>Short Name:</b>
  <%=h @team.short_name %>
</p>

<p>
  <b>Acronym:</b>
  <%=h @team.acronym_name %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @team.nickname_name %>
</p>

<%= link_to 'edit', edit_team_path(@team) %> |
<%= link_to 'delete', team_path(@team), :confirm => "ohrly?", :method => :delete %> |
<%= link_to 'teams', teams_path %>
