<h3>edit tournament</h3>

<%= error_messages_for 'tournament' %>

<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% form_for(  :tournament, 
              :url => tournament_path(@tournament),
              :html => { :method => :put }) do |f| %>
              
  <%= render :partial => "form", :locals => { :f => f} %>
<% end %>

<% form_for( :tournament,
              :url => tournament_path(@tournament),
              :html => { :method => :post }) do |f| %>
              
  <%= render :partial => "add_teams", :locals => { :f => f} %>
<% end %>  

<br />

<%= link_to 'tournaments', tournaments_path %>
