<div id="nav">
  <%= link_to @tournament.name_for_listing, edit_tournament_path(@tournament) %>
  <div id="notice">

  </div>
</div>

<div id="excluded">
  <%= render :partial => 'teams_excluded' %>
</div>

<div id="included">
  <div id="teamslist">
    <%= render :partial => 'teams_included' %>
  </div>
  <div id="eliminator">
    <br /><br />
    Drop included team here to remove it from tournament.
  </div>
</div>
<%= drop_receiving_element "teamslist",
          :url => push_team_tournament_path(@tournament),
          :with => "'team=' + encodeURIComponent(element.id.split('_').last())",
          :accept => "excluded_teams",
          :loading => "Element.hide(element)" %>

<%= drop_receiving_element "eliminator",
          :url => remove_team_tournament_path(@tournament),
          :with => "'team=' + encodeURIComponent(element.id.split('_').last())",
          :accept => "competitors",
          :loading => "Element.hide(element)" %>
