<%= link_to 'Tournaments', tournaments_path %> &gt; <%= get_tournament_type(@tournament) %> <%= @tournament.season.year %> 

<h3>Torneo <%= get_tournament_type(@tournament) %> <%= @tournament.season.year %></h3>


<p>
  <b>Starts:</b>
  <%=h @tournament.start_date.to_formatted_s(:rfc822) %>
  <b>Ends:</b>
  <%=h @tournament.finish_date.to_formatted_s(:rfc822) %>
</p>

<% i = 1 %>
<p>
<% @standings.each do |standing| %>
  <%= link_to "#{standing.name.capitalize}", tournament_standing_path(standing.tournament, standing) %>
  (<%=h standing.scheduled_date.to_formatted_s(:rfc822) %>) 
  <% if i.modulo(4) == 0 %>
    </p><p>
  <% else %>
    &nbsp;
  <% end %>
  <% i = i+1 %>    
<% end %>
</p>
<b><%= link_to 'Teams ', edit_teams_tournament_path(@tournament) %></b><br />

<% @teams.each do |team| %>
  <%= link_to "#{team.short_name.capitalize}", team_path(team) %>, 
<% end %>  
