<%= link_to 'tournaments', tournaments_path %> &gt;
<%= link_to @tournament.name_for_listing, tournament_path(@tournament) %> &gt;
<%= @standing.name.capitalize %>:

<h3>
  Torneo <%= @tournament.name_for_listing %>
</h3>

<h4>
  <%= @standing.name.capitalize %>
</h4>

<% if @standing.matches.empty? %>
  <div class="msg">
    Click
    <%= link_to "here", edit_tournament_standing_path(@standing.tournament, @standing) %>
    to edit this standing's matches.
  </div>
<% else %>
  <ul style="list-style-type:none;padding-left:0px">
    <li>
      <div style="float:left;width:130px;">Jugado</div>
      <div style="float:left;width:150px;">Local</div>
      <div style="float:left;width:60px;">G Local</div>
      <div style="float:left;width:60px;">G Visit</div>
      <div style="float:left;width:150px;">Visitante</div>
    </li><br />
    <% for match in @standing.matches %>
    <li>
      <div style="float:left;width:130px;"><%= played(match) %></div>
      <div style="float:left;width:150px;"><%= name(match.home_team) %></div>
      <div style="float:left;width:60px;text-align:center;"><%= match.home_team_score %></div>
      <div style="float:left;width:60px;text-align:center;"><%= match.away_team_score %></div>
      <div style="float:left;width:150px;"><%= name(match.away_team) %></div>
    </li><br />
    <% end %>
  </ul>
<% end %>
