<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>
      Futbol Stats
    </title>
    <%= stylesheet_link_tag 'fpt' %>
    <%= javascript_include_tag :all %>
  </head>
  <body>
    <div class="border_top_container">
      <div class="left border_top_left"></div>
      <div class="middle_border_top left"></div>
      <div class="right border_top_right"></div>
    </div>
    <div class="clear">
    </div>
    <div class="content">
      <div class="title">
        <h1>
          <%= link_to "FutStat.", root_path, :style => "color:black;" %>
        </h1>
      </div>
      <div class="clear"></div>
      <%= render :partial => 'common/general_navigation' %>
      <div class="clear"></div>
      <div class="yield">
        <%= yield :layout %>
      </div>
      <div class="footer" class="footer">
      </div>
    </div>
    <div class="border_bottom_container">
      <div class="left border_bottom_left">&nbsp;</div>
      <div class="middle_border_bottom left"></div>
      <div class="right border_bottom_right">&nbsp;</div>
    </div>
  </body>
</html>
